<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
        <title>Account Details</title>
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
        <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container text-center">
            <h3>
                Hey <b>[[${#request.userPrincipal.principal.username}]]</b>
            </h3>
            <form th:action="@{/logout}" method="post">
                <b>
                <input type="submit" value="Sign Out" />
            </form>
        </div>
        <div class="container text-center">
            <h3>Apply for Loan</h3>
        </div>
        <div class="container text-center">
            <form th:action="@{/addLoanAccount2}" th:object="${loanAccObject}" 
                method="post" style="max-width: 600px; margin: 0 auto;">
                <div class="m-3">
                    <div class="form-group row">
                        <label class="col-4 col-form-label">Amount: </label>
                        <div class="col-8">
                            <input type="number" th:field="*{total_loan_amount}" class="form-control" required />
                        </div>
                        <br>
                    </div>
                    <div class="form-group row">
                        <label class="col-4 col-form-label">Tenure in Years: </label>
                        <div class="col-8">
                            <input type="number" th:field="*{tenure}" class="form-control" required/>
                        </div>
                    </div>
                    <br>
                    <div>
                        <button type="submit" class="btn btn-primary">Apply Now</button> 
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>